{% extends "base_login.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'app/recuperar_password.css' %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <b>DSI</b> Recuperar contraseña
    </div>
    <div class="login-card-body">
      <p class="description">Ingresa tu nombre de usuario para comenzar con la recuperación mediante pregunta secreta.</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Continuar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
